html {
  font-family: 'Courier Prime', monospace;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-style: italic;
}

h1 > span {
  font-weight: 400;
}

p > span {
  font-weight: 700;
}

a, a:focus {
  text-decoration: none;
  outline: none;
}

a:active {
  text-decoration: underline;
}

/* Dark/light mode based on device settings. */
@media (prefers-color-scheme: light) {
  body {
    color: #202124;
    background-color: #fff;
  }

  a, a:visited {
    color: #1a73e8;
  }

  a:active {
    color: #104fa2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e8eaed;
    background-color: #202124;
  }

  a, a:visited {
    color: #8ab4f8;
  }

  a:active {
    color: #b7d1fb;
  }
}

/* Responsive font sizing. */
html {
  font-size: 16px;
}

@media (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
